body {
  margin: 0;
  background: #353353;
  color: white;
}

#mainSide-nav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid #E5E5E5;
}

#side-nav {
  display: none;
}

nav {
  padding-top: 70%;
  padding-bottom: 50%;

}
.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #F9D74C
}

.nav-link:focus {
  color: #F9D74C
}

.nav-link:active {
  color: #F9D74C;
}

.main {
  margin-left: 180px;
  padding: 0px 10px
}

#home {
  background: url('./assets/images/home-background.png')no-repeat;
  background-position: center; 
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.intro {
  margin: 15% auto 10% auto;
}

#about {
 font-size: 18px;
}

.break {
  float: right;
}

.photo {
  background: #FF4C60;
}

.anime {
  background: #F9D74C;
}

.video {
  background: #9C9AB3;
}

.button {
  background: #FF4C60;
  border-radius: 50px;
  color: white;
  padding: 10px 35px;
  font-weight: 700;
  letter-spacing: -0.02em
}

.hamburger {
  display: none;
}

.title {
  color: #F9D74C;
  border-bottom: 1px solid white;
}

#services .container {
  padding: 0 10%;
}

#portfolio ul {
list-style: none;
} 

.image {
  position: relative;
  top: 0;
  left: 0;
}

.over{
  position: absolute;
  top: 45%;
  left: 40%; 
}

q {
  font-size: 100px;
}

.colored {
  color: #F9D74C;
}

.box {
background: #302F4E;
border-radius: 20px
}

.dark{
  background: #302F4E;
  border-radius: 20px
}

.inverse-button {
  border-radius: none;
  color: white;
  font-weight: 700;
  background: #353353;
  border: 1px solid white;
  padding: 10px;
  letter-spacing: -0.02em

}

.inverse-button:hover {
  border-radius: none;
  color: white;
  font-weight: 700;
  background: #FF4C60;
  border: none;
}

.inverse-button:focus {
  border-radius: none;
  color: white;
  font-weight: 700;
  background: #FF4C60;
  border: none;
}

.fill {
  background-color: #353353;
  border: none;
  border-bottom: 1px solid white;
}

.fill:focus {
  background-color: #353353;
  border: none;
  border-bottom: 1px solid white;
}

.text {
  background-color: #353353;
  border: 1px solid white;
}

.text:focus {
  background-color: #353353;
  border: 1px solid white;
}

h2 {
  font-weight: 900;
}


@media screen and (max-width: 1200px) {
  #mainSide-nav {
    display: none;
  }

  #side-nav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    margin-right: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background: #302F4E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid #E5E5E5;

  }

  .main {
    margin-left: 0;
    padding: 0;
  }

  #side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .hamburger {
    display: block;
    margin: 10px;
  }
}