html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #353353;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: 900;
}

/* SIDE NAVIGATION */

#mainSide-nav {
  height: 100vh;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid #E5E5E5;
}

.splash {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.side {
  height: 80%;
}

.foot {
  height: 16%;
}

#side-nav {
  display: none;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color:#F9D74C;
}

.navbar .active {
  color:#F9D74C;
}

/* END OF SIDE NAVIGATION */

/* GENERAL */
.main {
  margin-left: 180px;
  padding: 0px 10px
}

.button {
  background: #FF4C60;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  letter-spacing: -0.02em
}

.button:hover, button:focus {
  box-shadow: none;
  opacity: 0.7;
  color: white;
}

.hamburger {
  display: none;
}


/* HOME SECTION */
.home {
  width:100% ;
  height: 100vh;
  background: url(./assets/images/home-background.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.colored {
  color: #F9D74C;
}

/* ABOUT SECTION */
#about {
 font-size: 18px;
}

.break {
  float: right;
}

.photo {
  background: #FF4C60;
}

.anime {
  background: #F9D74C;
}

.video {
  background: #9C9AB3;
}

/* PORTFOLIO */

.filt:focus, .filt:active{
  box-shadow: none;
}

.selected, .filt:hover {
  color: #F9D74C;
}

.filt {
  color: white;
}

.text-position {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
}

.head-position {
  position: absolute;
  top: 5%;
  left: 20%;
  background-color: #302F4E;
  border-radius: 0 0 15px 15px;
}

.edu::before {
  content: "";
  height: 100px;
  width: 100px;
  left: 10px;
  position: absolute;
  background: url(./assets/icons/education-icon.svg)no-repeat;
}

.exp::before {
  content: "";
  height: 100px;
  width: 100px;
  left: 10px;
  position: absolute;
  background: url(./assets/icons/experience-icon.svg)no-repeat;
}

.line::before {
  content: "";
  height: 60px;
  border: 1px solid #FFFFFF;
  left: 7%;
  position: absolute;
  top: 50%;
}

.title {
  color: #F9D74C;
  border-bottom: 1px solid white;
}

/* SERVICES */

#services .container {
  padding: 0 10%;
}

.item {
  white-space: nowrap;
}

.image {
  position: relative;
  top: 0;
  left: 0;
}

.over{
  position: absolute;
  top: 45%;
  left: 40%; 
}



.box {
background: #302F4E;
border-radius: 20px
}

.arrange {
  justify-content: center;
}

.dark{
  background: #302F4E;
  border-radius: 20px
}

.inverse-button {
  border-radius: none;
  color: white;
  font-weight: 700;
  background: #353353;
  border: 1px solid white;
  padding: 10px;
  letter-spacing: -0.02em

}

.inverse-button:hover {
  border-radius: none;
  color: white;
  font-weight: 700;
  background: #FF4C60;
  border: none;
}

.inverse-button:focus {
  border-radius: none;
  color: white;
  font-weight: 700;
  background: #FF4C60;
  border: none;
}



.text {
  background-color: #353353;
  border: 1px solid white;
}

.text:focus {
  background-color: white;
  border: 1px solid white;
  box-shadow: none;
}



/* CONTACT */
.fill {
  background-color: #353353;
  border: none;
  border-bottom: 1px solid white;
}

.fill:focus {
  background-color: white;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: none;

}

.send-btn {
  padding: 10px 70px;
}

@media screen and (max-width: 1200px) {
  #mainSide-nav {
    display: none;
  }

  #side-nav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    margin-right: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background: #302F4E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid #E5E5E5;

  }

  .main {
    margin-left: 0;
    padding: 0;
  }

  #side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .hamburger {
    display: block;
    margin: 10px;
  }
}

@media screen and (max-width: 992px) {
  .exp::before {
    content: "";
    height: 0;
    width: 0;
    left: 0;
    position: absolute;;
    background: none;
  }
  
  .line::before {
    content: "";
    height: 0;
    border: none;
    left: 0;
    position: absolute;
    top: 0;
  }

  .edu::before {
    content: "";
    height: 0;
    width: 0;
    left: 0;
    position: absolute;
    background: none;
  }
  
}